.footer-container {
    /* height: 80px; */
    width: 100%;
    /* margin-bottom: 1rem; */
    /* background-image: url("https://images.unsplash.com/photo-1454944338482-a69bb95894af?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: 1px -100px; */
    

}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.footer-contact {
    margin-top: 0.5rem;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.right-side {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0.5rem; */
}

.footer-back-to-top {
    display: flex;
    justify-content: center;

}

.footer-back-to-top>a {
    padding: 0.5rem 2rem;
}

.footer-branding {
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.footer-feedback {
    display: flex;
    justify-content: center;
}

.footer-feedback>a {
    padding: 0.5rem 2rem;

}
@media (max-width:768px) {
    .footer-content {
        /* width: 100%; */
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}